{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <h2>Lista de Usuários</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nome</td>
                <td>E-mail</td>
                <td>Telefone</td>
                <td colspan="2">Ações</td>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td><a href="/editar/{{ user.id }}" class="btn btn-success btn-xs">Editar</a></td>
                <td><a href="/deletar/{{ user.id }}" class="btn btn-danger btn-xs">Apagar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ message('message') | raw }}</p>

{% endblock %}